<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<form action="/madlib">
  Please enter a name: <input type="text" name="name"><br>
  Please enter a noun: <input type="text" name="noun"><br>
  Please enter an adjective: <input type="text" name="adjective"><br>
  Please enter a color:
  <select name="color">
    <option value="opal">opal</option>
    <option value="burnt orange">burnt orange</option>
    <option value="goldenrod">goldenrod</option>
    <option value="chartreuse">chartreuse</option>
    </select>
    <br>
  Choose your favorite beverages:
  <input type="checkbox" name="beverages" value="soda">soda
  <input type="checkbox" name="beverages" value="coffee">coffee
  <input type="checkbox" name="beverages" value="mushroom tea">mushroom tea
  <input type="checkbox" name="beverages" value="kombucha">kombucha
  <input type="submit">
</form>

</body>
</html>
